@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor01: #e4bc81;
    --cor02: #bf5f39;
    --cor03: #d2996a;
    --cor04: #2E2A23;
}

* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
}

main {
   background-color: black;
   height: 100%;
   flex-grow: 1;
}

header {
    background-color: var(--cor04);
    display: flex;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

nav {
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}

#logo {
    display: flex;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 30px;
}

h2 {
    font-size: 15px;
    padding: 2px 14px 2px 14px;
    margin: 0px 30px 0px 0px;
    border: 1px solid var(--cor03);
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 0px 35px 0px 0px;
    font-size: 17px;
}

nav > a:hover {
    color: var(--cor03);
    transform: scale(1.1);
}

button {
    color: white;
    border-radius: 30px;
    font-size: 15px;
    padding: 7px 25px 7px 25px;
    background-color: var(--cor03);
    cursor: pointer;
    border: 3px solid white;
    margin-right: 30px;
}

button:hover {
    color: var(--cor02);
}
#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}

/*--------------------------*/

#containertokens {
    display: flex;
    height: 500px;
    padding: 64px 140px;
}

.Tokens {
    display: flex;
    border-radius: 50px;
    margin: 30px;
    width: 100%;
    padding: 7px 25px 7px 25px;
    background: rgba(46, 34, 26, 0.9);
    border: 3px solid white;
    flex-direction: column;
    justify-content: space-around;
}

.titletokens{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgtokens{
    border-radius: 50px;
}

.titletokens {
    display: flex;
    font-size: 25px;
    color: white;
}

.texttokens {
    font-size: 15px;
    color: white;
}

.swaptokens {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.buytokens {
    display: flex;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: green;
    padding: 10px 1.5px 10px 1.5px;
    width: 95%;
    margin: 0px 0px 10px 0px;
    justify-content: center;
}

.buytokens:hover {
    color: var(--cor03);
}

.viewtokens {
    display: flex;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 15px;
    background-color: var(--cor02);
    padding: 10px 1.5px 10px 1.5px;
    width: 95%;
    margin: 0px;
    justify-content: center;
}


.viewtokens:hover {
    color: var(--cor03);
}

footer {
    display: flex;
    width: 100%;
    background-color:black;
    justify-content: center;
    align-items: center;
}

#containerfooter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
}

#containersonfooter {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
}

#logofinal {
    display: flex;
    color: white;
    font-size: 30px;
    flex-direction: column;
    gap: 1rem;
}

#logofinal a {
    display: flex;
    font-size: 40px;
    gap: 1rem;
}

#logofinal a:hover {
    color: var(--cor03);
}

#logofinal > p {
    font-size: 16px;
}

#contactus {
    display: flex;
}

#contactus a:hover {
    transform: scale(1.1); 
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links a:hover {
    color: var(--cor03);
    transform: scale(1.1);
}

.tittlefooter {
    font-size: 25px;
    color: white;
}

.linhacopy {
    display: block;
    background-color: white;
    height: 1px;
    opacity : 0.5;
    width: 100%;
}

.copyrigt {
    color: var(--cor02);
}