@charset "UTF-8";

@media screen and (max-width: 1024px) {
    #tokensgroup {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1024px) {
    #menu > a {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #containersonfooter {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1024px) {
    .links {
        padding: 50px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor01: #e4bc81;
    --cor02: #bf5f39;
    --cor03: #d2996a;
    --cor04: #2E2A23;
}

* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
}

main {
   background-color: black;
   height: 100%;
}

/*------------Menu--------------*/

.i {
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

nav {
    display: flex;
    background-color: var(--cor04);
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 77px;
    position: relative;
}

#menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    max-width: 1700px;
    text-shadow: 1px 2px 2px black;
    white-space: nowrap;
}

#menu > a {
    padding-right: 40px;
}

#price {
    display: flex;
    font-size: 15px;
    border: 1px solid var(--cor03);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 1px 15px 1px 15px;
    margin-right: 40px;
    color: var(--cor01);
}

#logo {
    padding-right: 30px;
}

#logo > a {
    display: flex;
    color: white;
    align-items: center;
    font-size: 30px;
    margin-left: 50px;
    font-weight: 700;
    gap: 1rem;
    text-shadow: 1px 2px 2px black;
}

#logo > a:hover {
    color: var(--cor03);
}

a {
    color: white;
    text-decoration: none;
}

#menu > a:hover {
    color: var(--cor03);
    transform: scale(1.1);
}

button {
    color: white;
    border-radius: 30px;
    font-size: 15px;
    padding: 7px 25px 7px 25px;
    background-color: var(--cor03);
    cursor: pointer;
    border: 2px solid white;
    margin-right: 50px;
}

button:hover {
    color: var(--cor04);
    transform: scale(1.1);
    box-shadow: 2px 2px 10px black;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    color: white;
    font-size: 3rem;
}

/*------------Tokens--------------*/

#containertokens {
    display: flex;
    width: 100%;
    gap: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#cointernersontokens {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    
}

#tokensgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tokens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 40px;
    padding: 2rem;
    border-radius: 40px;
    background: var(--cor04);
    border: 3px solid white;
}

.titletokens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-shadow: 3px 4px 2px black;
    font-size: 25px;
    color: white;
}

.imgtokens{
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.596);
}

.texttokens {
    font-size: 15px;
    color: white;
    padding: 15px;
    text-shadow: 1px 2px 2px black;
}

.swaptokens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 700;
} 

.buytokens {
    display: flex;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: green;
    padding: 10px 1.5px 10px 1.5px;
    width: 100%;
    margin: 0px 0px 10px 0px;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
}

.buytokens:hover {
    color: var(--cor03);
}

.viewtokens {
    display: flex;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 15px;
    background-color: var(--cor02);
    padding: 10px 1.5px 10px 1.5px;
    width: 100%;
    margin: 0px;
    justify-content: center;
    white-space: nowrap;
}

.viewtokens:hover {
    color: var(--cor03);
}

footer {
    display: flex;
    width: 100%;
    background-color:black;
    justify-content: center;
    align-items: center;
}

#containerfooter {
    display: flex;
    width: 100%;
    max-width: 1700px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
}

#containersonfooter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

#logofinal {
    display: flex;
    color: white;
    font-size: 30px;
    flex-direction: column;
    gap: 1rem;
}

#logofinal a {
    display: flex;
    font-size: 40px;
    gap: 1rem;
}

#logofinal a:hover {
    color: var(--cor03);
}

#logofinal > p {
    font-size: 16px;
}

#contactus > a {
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
}

#contactus a:hover {
    transform: scale(1.1); 
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links a:hover {
    color: var(--cor03);
    transform: scale(1.1);
}

.tittlefooter {
    font-size: 25px;
    color: white;
}

.linhacopy {
    display: block;
    background-color: white;
    height: 1px;
    opacity : 0.5;
    width: 100%;
}

.copyrigt {
    color: var(--cor02);
}